*, 
*::before, 
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

html{
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
    padding: 30px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}