.u-center-text{
    text-align: center !important;
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}

.col.span-1-of-2.about-text-align{
    padding-left: 10%;
}

.col.span-1-of-2.about-img-align{
    padding-right: 10%;
}

.row{
    max-width: 114rem;
    width: 80%;
    margin: 0 auto;

    &:not(:last-child){
        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port){
        max-width: 50rem;
        padding: 0 3rem;
    }

    [class^="col span-"]{
        &:not(:last-child){
            @include respond(tab-port){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port){
            width: 100% !important;
        }
    }
}