.u-center-text{
    text-align: center !important;
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}

.col.span-1-of-2.about-text-align{
    padding-left: 10%;
}

.col.span-1-of-2.about-img-align{
    padding-right: 10%;
}

.row{
    width: 80%;
    margin: 0 auto;
}